
<!-- Hero Section -->
<div class="jumbotron text-center">
  <h1 class="display-4">Welcome to Imran Restaurant</h1>
  <p class="lead">Delicious food in a cozy atmosphere</p>
</div>


<!-- Card with Search Bar -->
<div class="container">
  <div class="card" id="searchform">
    <div class="card-body" >
      <h1 class="card-title">Tuck into a takeaway today</h1>
      <p class="lead">Find our nearest branch delivering right now!</p>
      <form  class="form-inline">
        <div class="input-group">
          <input type="text" class="form-control custom-search-box" id="postcode" placeholder="Enter your postcode" />
          <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Search</button>

          </div>

        </div>
      </form>

    </div>
  </div>
</div>

<div class="jumbotron text-center">
  <h3 class="display-4">Find your flavour even faster</h3>
  <p class="lead">Download the Imran app and more personalised recommendations</p>

  <div class="mt-4">
    <a href="#" class="btn btn-light mr-2">
      <img src="../assets//Images//appstore.jpg" alt="Apple Store" height="30">
    </a>
    <a href="#" class="btn btn-light">
      <img src="../assets/Images/playstore.jpg" alt="Google Play" height="30">
    </a>
  </div>
</div>

<!-- Footer -->
<footer class="bg-dark text-white text-center py-3">
  <p>&copy; 2024 Imran Restraunt. All rights reserved.</p>
</footer>

